@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap');

body{
    background-color: #ffe8f2;
    height: 100vh;
   
  
}
.header{
    text-align: center;
    background-color: #131619;
    color: white;
    padding: 30px;
    font-size: 50px;
    font-family: Agbalumo;
    border-radius: 20px;
}
.gameContainer{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.btnCont{
    display: flex;
    justify-content: space-evenly;

    
}

#score{
    text-align: center;
    display: flex;
    justify-content: space-evenly;

   
}

.scoreContainer{
    height: 150px;
    width: 150px;
    padding: 20px;
    border-radius: 30px;
    background-color: #131619;
    color: white;
}

.gif{
    height: 300px;
    width: 300px;
    align-self: center;
}

img{
    height: 200px;
    width: 200px;
}

.end{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.result{
    text-align: center;
    font-family: Agbalumo;
    font-size: 40px;
}

button{
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#gameResult{
    font-family: Agbalumo;
    width: 50px;
    font-size: 24px;
}